<div>
    <ul id="response"></ul>

    <form id="form-request" action="" class="teal lighten-4">
      <input id="request" autocomplete="off" class="teal-text" />
      <button type="submit" class="z-depth-1 waves-effect waves-light btn">Send</button>
    </form>
</div>